<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCxLxrWesg49IXShhKGllEu7r_4D6boIE</string>
	<key>GCM_SENDER_ID</key>
	<string>110040364958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apAssignment</string>
	<key>PROJECT_ID</key>
	<string>ap-assignment-9ca26</string>
	<key>STORAGE_BUCKET</key>
	<string>ap-assignment-9ca26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110040364958:ios:0a46a716f2b5ed6574c88f</string>
</dict>
</plist>